<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened role="search">
    <app-sandwich-filtering (sandwichFiltersChange)="onFiltering($event)" (closing)="drawer.close()">
      <ng-template>
        <mat-checkbox id="showReserved" name="showReserved" [(ngModel)]="showReserved" i18n>
          Show reserved sandwiches
        </mat-checkbox>

        <mat-checkbox id="showMine" name="showMine" [(ngModel)]="showMine" i18n>
          Show my sandwiches
        </mat-checkbox>

        <mat-form-field class="user">
          <input matInput placeholder="From user" i18n-placeholder id="userInput" name="userInput" [(ngModel)]="filterUserId" />
          <!--<mat-hint>Email of the user</mat-hint>-->
        </mat-form-field>
      </ng-template>
    </app-sandwich-filtering>
  </mat-drawer>
  <mat-drawer-content class="list" role="list">
    <button *ngIf="!drawer.opened" class="action" mat-raised-button (click)="drawer.open()">
      <mat-icon aria-hidden="true">filter_list</mat-icon>
      <ng-container i18n>Filters</ng-container>
    </button>
    <app-sandwich-items #items [actionTemplate]="actionTemplate"></app-sandwich-items>
    <ng-template #actionTemplate let-sandwich let-index="index">
      <a mat-raised-button [routerLink]="sandwich.id" i18n>Details</a>
      <ng-container *ngIf="sandwich.quantityLeft > 0">
        <div class="quantity">
          <span i18n class="info">Qty to reserve</span>
          <input matInput 
            placeholder="1" 
            type="number"
            min="1"
            [max]="sandwich.quantityLeft" 
            [(ngModel)]="quantityToReserve[index]" 
            #quantity="ngModel">
          <ng-container> / {{ sandwich.quantityLeft }}</ng-container>
        </div>
        <button mat-raised-button class="primary-button" (click)="onReserve(sandwich, index)">
          <ng-container i18n>Reserve</ng-container>
          <ng-container> - </ng-container>
          <span *ngIf="sandwich.price > 0; else freeTemplate" class="price">{{ getSandwichPrice(sandwich, index) | currency }}</span>
          <ng-template #freeTemplate i18n>Free</ng-template>
        </button>
      </ng-container>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
