<nav>
  <button type="button" aria-label="Toggle navigation" 
    mat-icon-button
    (click)="isMenuOpen = !isMenuOpen"
    *ngIf="(isHandset | async)!.matches">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/" class="section-logo">
    <img src="/assets/images/icons/icon-128x128.png" alt="Sandwich" class="logo">
    <ng-container i18n>Sandwich pooling</ng-container>
  </a>
  <a *ngIf="!(isHandset | async)!.matches" mat-button routerLink="/sandwich" class="section-nav" i18n>Sandwiches list</a>
  <a *ngIf="!(isHandset | async)!.matches" mat-button routerLink="/my-sandwich" class="section-nav" i18n>My Sandwiches</a>
  <a *ngIf="!(isHandset | async)!.matches" mat-button routerLink="/sandwich/new" class="section-nav" i18n>Add a sandwich</a>
  <div class="spacer">&nbsp;</div>
  <router-outlet name="avatar"></router-outlet>
</nav>
<div *ngIf="(isHandset | async)!.matches" [ngClass]="{ hidden: !isMenuOpen }" class="expendable-menu">
  <mat-divider></mat-divider>
  <a mat-button routerLink="/sandwich" class="section-nav" (click)="isMenuOpen = false" i18n>Sandwiches list</a>
  <mat-divider></mat-divider>
  <a mat-button routerLink="/my-sandwich" class="section-nav" (click)="isMenuOpen = false" i18n>My Sandwiches</a>
  <mat-divider></mat-divider>
  <a mat-button routerLink="/sandwich/new" class="section-nav" (click)="isMenuOpen = false" i18n>Add a sandwich</a>
</div>