:host {
  display: block;
  margin: auto;
  max-width: 50em;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.description, .image, .action {
  grid-column-start: span 2;
}

.action {
  margin-top: 2em;
  justify-self: center;
}