<h1>{{ currentSandwich && currentSandwich.id ? 'Edit' : 'Add' }} a Sandwich</h1>

<form *ngIf="currentSandwich; else sandwichLoading" (ngSubmit)="onSubmit()" #sandwichForm="ngForm">
  <mat-form-field class="title">
    <input matInput placeholder="Title" required maxlength="20"
      id="titleInput" name="titleInput"
      [(ngModel)]="currentSandwich.title" #title="ngModel">
    <mat-hint i18n>Short description</mat-hint>
    <mat-error i18n>Title is required</mat-error>
  </mat-form-field>
  
  <mat-form-field class="type">
    <mat-select placeholder="Sandwich type" required
        id="typeInput" name="typeInput"
        [(ngModel)]="currentSandwich.type" #type="ngModel">
      <mat-option value="Sandwich" i18n>Sandwich</mat-option>
      <mat-option value="Sandwich" i18n>Gourmet</mat-option>
      <mat-option value="Sandwich" i18n>Drink</mat-option>
      <mat-option value="Sandwich" i18n>Vegetarian</mat-option>
    </mat-select>
    <mat-hint i18n>Kind of meal offered</mat-hint>
    <mat-error i18n>Sandwich type is required</mat-error>
  </mat-form-field>

  <mat-form-field class="description">
    <textarea matInput placeholder="Description" rows="4" maxlength="500"
      id="descriptionInput" name="descriptionInput"
      [(ngModel)]="currentSandwich.description" #description="ngModel">
    </textarea>
    <mat-hint i18n>Long description of what is offered</mat-hint>
  </mat-form-field>
  
  <div class="price">
    <mat-form-field>
      <input type="number" matInput placeholder="Price" required
        id="priceInput" name="priceInput"
        [(ngModel)]="currentSandwich.price" #price="ngModel">
      <mat-error *ngIf="!price.valid" i18n>Price is required</mat-error>
      <mat-hint i18n>0 = Free</mat-hint>
    </mat-form-field>
    <mat-slider min="0" max="100" step="5" thumbLabel
      id="priceSliderInput" name="priceSliderInput"
      [value]="currentSandwich.price"
      (change)="onSliderChanged($event)">
    </mat-slider>
  </div>

  <mat-form-field class="quantity">
    <input type="number" matInput placeholder="Quantity" required
      id="quantityInput" name="quantityInput"
      [(ngModel)]="currentSandwich.quantity" #quantity="ngModel">
    <mat-hint i18n>The number of portions or plates available</mat-hint>
    <mat-error i18n>Quantity is required</mat-error>
  </mat-form-field>

  <app-address-autocomplete class="address" [(address)]="currentSandwich.address"
    [required]="true"
    hint="Where the sandwich will be picked up."></app-address-autocomplete>

  <mat-form-field class="address-detail">
    <textarea type="text" matInput placeholder="Address details" maxlength="500"
      id="addressDetailInput" name="addressDetailInput"
      [(ngModel)]="currentSandwich.addressDetail" #quantity="ngModel"></textarea>
    <mat-hint i18n>More detail on the address like the appartment, floor or room number.</mat-hint>
  </mat-form-field>

  <app-date-time [(datetime)]="currentSandwich.datePickUp"
    [minDate]="currentDate" [required]="true" placeholder="Pick up date"
    hint="The date and time you'll distribute the sandwich"></app-date-time>
  <app-date-time [(datetime)]="currentSandwich.dateLimit"
    [minDate]="currentDate" [maxDate]="currentSandwich.datePickUp" placeholder="Limit date"
    hint="The last time someone can reserve your sandwich and have a share ready"></app-date-time>

  <mat-form-field class="image">
    <input matInput placeholder="Image"
      id="imageInput" name="imageInput"
      [(ngModel)]="currentSandwich.thumbnail" #thumbnail="ngModel" (change)="onImageChange(thumbnail.control)">
    <mat-hint i18n>Link to your image of the sandwich</mat-hint>
    <mat-error *ngIf="thumbnail.errors?.imageLoading" i18n>Wait for image validation...</mat-error>
    <mat-error *ngIf="thumbnail.errors?.loadingError" i18n>Couldn't fetch the image. Verify the url.</mat-error>
    <mat-error *ngIf="thumbnail.errors?.invalidImage" i18n>Image type is not supported. Supported format : jpeg, png, bmp, svg.</mat-error>
  </mat-form-field>
  <div class="image-preview">
    <img [src]="imageSource" alt="Image preview">
  </div>

  <button type="submit" class="action primary-button" mat-raised-button 
    [disabled]="!sandwichForm.form.valid || !addressIsValid() || !currentSandwich.datePickUp">Submit</button>
</form>

<ng-template #sandwichLoading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
