h2 {
  padding-left: 1em;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 1em;
}

.price, .distance {
  display: flex;

  .mat-form-field {
    flex: 1;
  }
}

.distance {
  margin-top: 0.5em;
}

.date {
  display: flex;
  
  #dateFromInput {
    margin-right: 1em;
  }
}