<h2>
  <ng-container i18n>Filtering</ng-container>
  <button mat-raised-button (click)="onClose()"><mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon> <ng-container i18n>Close</ng-container></button>
</h2>

<form *ngIf="sandwichFilters" (ngSubmit)="onSubmit()" #filtersForm="ngForm">
  <mat-form-field class="title">
    <input matInput placeholder="Title" i18n-placeholder
      id="titleInput" name="titleInput"
      [(ngModel)]="sandwichFilters.title" #title="ngModel">
  </mat-form-field>
  
  <mat-form-field class="type">
    <mat-select placeholder="Sandwich type" i18n-placeholder multiple
        id="typeInput" name="typeInput"
        [(ngModel)]="sandwichFilters.type" #type="ngModel">
      <mat-option value="Sandwich" i18n>Sandwich</mat-option>
      <mat-option value="Sandwich" i18n>Gourmet</mat-option>
      <mat-option value="Sandwich" i18n>Drink</mat-option>
      <mat-option value="Sandwich" i18n>Vegetarian</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="price">
    <mat-form-field>
      <input type="number" matInput placeholder="Minimum Price" i18n-placeholder
        id="minPriceInput" name="minPriceInput"
        [(ngModel)]="sandwichFilters.minPrice" #minPrice="ngModel">
    </mat-form-field>
    <mat-slider min="0" max="100" step="5" thumbLabel
      id="minPriceSliderInput" name="minPriceSliderInput"
      [value]="sandwichFilters.minPrice"
      (change)="onSliderChanged('minPrice', $event)">
    </mat-slider>
  </div>
  <div class="price">
    <mat-form-field>
      <input type="number" matInput placeholder="Maximum Price" i18n-placeholder
        id="maxPriceInput" name="maxPriceInput"
        [(ngModel)]="sandwichFilters.maxPrice" #maxPrice="ngModel">
    </mat-form-field>
    <mat-slider min="0" max="100" step="5" thumbLabel
      id="maxPriceSliderInput" name="maxPriceSliderInput"
      [value]="sandwichFilters.maxPrice"
      (change)="onSliderChanged('maxPrice', $event)">
    </mat-slider>
  </div>

  <mat-form-field class="quantity">
    <input type="number" matInput placeholder="Minimum quantity" i18n-placeholder
      id="quantityInput" name="quantityInput"
      [(ngModel)]="sandwichFilters.quantity" #quantity="ngModel">
  </mat-form-field>
  
  <app-address-autocomplete class="address" [(address)]="sandwichFilters.address"
    hint="Where the sandwich will be picked up." i18n-hint></app-address-autocomplete>

  <div class="distance">
    <mat-form-field>
      <input type="number" matInput placeholder="Maximum distance (km)" i18n-placeholder
        id="distanceInput" name="distanceInput"
        [(ngModel)]="sandwichFilters.distance">
    </mat-form-field>
    <mat-slider min="5" max="100" step="5" thumbLabel
      id="distanceSliderInput" name="distanceSliderInput"
      [value]="sandwichFilters.distance"
      (change)="onSliderChanged('distance', $event)">
    </mat-slider>
  </div>

  <div class="date">
    <app-date id="dateFromInput" [(date)]="dateFrom" (dateChange)="onDateFromChanged($event)"
      placeholder="Available from" i18n-placeholder></app-date>
    <app-date [(date)]="dateTo" [minDate]="dateFrom"
      placeholder="Available until" i18n-placeholder></app-date>
  </div>

  <mat-form-field class="tag">
    <mat-select placeholder="Tags" i18n-placeholder multiple
        id="tagInput" name="tagInput"
        [(ngModel)]="sandwichFilters.tags" #type="ngModel">
    </mat-select>
  </mat-form-field>

  <ng-container [ngTemplateOutlet]="additionalFiltersTemplate"></ng-container>

  <button type="submit" class="action" mat-raised-button i18n>Filter</button>
</form>