<div class="icon">
  <img src="/assets/images/icons/icon-512x512.png" alt="Sandwich Pooling">
</div>

<p class="citation mat-caption">Share, don't waste!</p>

<p>Just like you can share you car, why not share that extra sandwich to your colleagues before it goes bad and help that poor person that can't cook! Sandwich Pooling is a service where everyone can post their leftovers and benefit the community by enabling food distribution and reducing waste.</p>

<p>I welcome all commentary and suggestion: <a href="mailTo:{{contactEmail}}?subject=Suggestion%20or%20commentary&body=">{{ contactEmail }}</a></p>