:host {
  max-width: 50em;
  margin: auto;
  margin-top: 2em;
  padding: 2em;
}

.icon {
  text-align: center;
  
  img {
    max-height: 20em;
  }
}

.citation {
  font-size: 2.5em;
  text-align: center;
}