@import "../../../../sass/variables";
@import "../../../../sass/mixins";

mat-card-content {
  margin-bottom: 0;
}

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-template-rows: auto;
  align-items: self-start;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  margin: 1em;
  padding: 0;

  .thumbnail {
    margin-bottom: 1em;
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }

  .mat-card-content {
    max-height: 10em;
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  .action {
    text-align: right;
    margin: 0;
    margin-bottom: 0.5em
  }
}