<app-date class="date" [date]="datetime" [minDate]="minDate" [maxDate]="maxDate" [hint]="hint" [required]="required"
  [placeholder]="placeholder"
  (dateChange)="onDateChanged($event)"></app-date>
<mat-form-field class="time">
  <input matInput placeholder="Time (HH:ss)" [ngModel]="formattedTime" (change)="onTimeChanged($event)"
    [ngxTimepicker]="toggleIcon" [format]="24" [disableClick]="true">
  <ngx-material-timepicker-toggle [for]="toggleIcon" class="toggle-button">
    <mat-icon aria-hidden="true">access_time</mat-icon>
  </ngx-material-timepicker-toggle>
</mat-form-field>
<ngx-material-timepicker #toggleIcon [minutesGap]="5" (timeSet)="onTimeChanged($event)"></ngx-material-timepicker>